<div id="data-source-add" class="vast-form">
  <h3>Connect New Environment</h3>
  <mat-form-field appearance="outline">
    <mat-label>Environment Name</mat-label>
    <input matInput [(ngModel)]="name" required>
    <mat-error *ngIf="!name">Name is required.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Connected App Client ID</mat-label>
    <input matInput [(ngModel)]="clientId" required>
    <mat-error *ngIf="!clientId">Client ID is required.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Login URL</mat-label>
    <mat-select [(ngModel)]="orgUrl">
      <mat-option *ngFor="let url of loginUrls" [value]="url">{{url}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="save-cancel">
    <button mat-flat-button color="primary" (click)="connectSF()"  [disabled]="!canSave">Start</button>
    <button mat-stroked-button color="primary">Cancel</button>
  </div>
</div>