<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>VastForce</mat-toolbar>
    <mat-nav-list>
      <div *ngIf="isLoggedIn">
        <a mat-list-item routerLink=""><span class="material-icons">dashboard</span>Dashboard</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="app/data-sources" ><span class="material-icons">rounded_corner</span>Data Sources</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="app/profiles"><span class="material-icons">person_pin</span>Profile Browser</a>
        <a mat-list-item routerLink="app/query-permissions"><span class="material-icons">person_search</span>Permission Query</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="about"><span class="material-icons">settings</span> Settings</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="logout()"><span class="material-icons">exit_to_app</span>Log Out</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span id="title">{{currentTitle}}</span>
    </mat-toolbar>
    <div id="outlet-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
